{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:promise/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "chai-friendly",
    "jsx-a11y",
    "react-hooks",
    "import",
    "prettier",
    "testing-library"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/require-default-props": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.{ts,tsx}",
          "test/*.{ts,tsx}",
          "webpack.config.*",
          "scripts/*.{ts,js}",
          "**/*.stories.*"
        ]
      }
    ],
    "@typescript-eslint/no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2,
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "lodash",
            "message": "Import [module] from lodash/[module] instead"
          }
        ]
      }
    ]
  },
  "globals": {
    "expect": true,
    "describe": true,
    "sinon": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "after": true,
    "before": true,
    "chai": true,
    "provideContextWithValue": true
  }
}
