.DS_STORE
node_modules
*~
*.pyc
static
/build
/dist
/dist-slack
coverage
.module-cache
examples/shared/*.js
test/the-files-to-test.generated.js
*.log*
*.idea
*.iml
.vscode
*.tar
.map
delete-artifacts.sh
.env
.idea
test-result.xml
